*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #FFFFFF;
}

.titletop{
	margin: 0 auto;
}

.grid {
    max-width: 660px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 120px;
    width: 120px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942 url('../img/back.png') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-color: #FFFFFF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: none !important;
}


/*fin CSS Cartes*/


/*début CSS Interface*/

.mainframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FAB942 url('../img/background.jpg') no-repeat center center / cover;
}

.beginning {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: auto;
    margin-bottom: 150px;
    margin-left: 44%;
    margin-right: 44%;
}

.legalint {
    position: absolute;
    top: 100px;
    left: 5%;
    bottom: 0;
    right: 5%;
    width: 90%;
    height: calc(100% - 100px);
    font-size: 1rem;
    color: white;
    padding: 1%;
    background: #FAB942 url('../img/backgroud.png') no-repeat center center / cover;
}

.gameint {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 100px);
}

.gamezone {
    position: absolute;
    top: 1%;
    left: 2.5%;
    width: 700px;
    height: 98%;
    background: #FAB942 url('../img/woodbg.jpg') no-repeat center center / cover;
    padding-top: 40px;
}

.interface {
    position: absolute;
    top: 1%;
    right: 15%;
    width: 400px;
    height: 98%;
    background: #FAB942 url('../img/woodbg2.jpeg') no-repeat center center / cover;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
}

.title {
    font-size: 3rem;
    color: black;
}

.formulaire {
    position: absolute;
    padding-left: 1%;
    top: 1%;
    left: 2.5%;
    width: 700px;
    height: 98%;
    border: 1px solid black;
    background: #FAB942 url('../img/woodbg3.jpg') no-repeat center center / cover;
    font-size: 1.45rem;
    color: white;
}

input[type=button], input[type=submit], input[type=reset], button, .button {
	padding: 5px 15px;
	margin: 3px 4px;
	display: inline-block;
	color: #ffffff;
	font-size: 26px;
	cursor: pointer;
	background: #6D420A;
	background: linear-gradient(top, #6D420A 0%, #542900 100%);
	background: -moz-linear-gradient(top, #6D420A 0%, #542900 100%);
	background: -webkit-linear-gradient(top, #6D420A 0%, #542900 100%);
	background: -o-linear-gradient(top, #6D420A 0%, #542900 100%);
	border: 1px solid #3F4003;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover {
	background: linear-gradient(top, #875c24 0%, #6D420A 100%);
	background: -moz-linear-gradient(top, #875c24 0%, #6D420A 100%);
	background: -webkit-linear-gradient(top, #875c24 0%, #6D420A 100%);
	background: -o-linear-gradient(top, #875c24 0%, #6D420A 100%);
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, .button:active{
	opacity:0.8;
}

.imgbutton2 {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 200px);
    width: 400px;
    height: 100px;
    background: #FAB942 url('../img/woodbg3.jpg') no-repeat center center / cover;
}

.resetbtn {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
    background: #FAB942 url('../img/woodbg3.jpg') no-repeat center center / cover;
}


/*.txtbtn {
    padding-bottom: 50px;
}*/

.title {
    text-align: center;
}

.audio {
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.legal {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #FAB942 url('../img/woodbg2.jpeg') no-repeat center center / cover;
    color: #FFFFFF;
}

#mc,
#sc,
#cc,
#ac {
    color: green;
    font-size: 4rem;
}

a {
    font-size: 0.9rem;
}

.etoile {
    margin-left: 35px;
    color: red;
    margin-right: 7px;
    font-size: 1.45rem;
}

input {
    width: 90%;
    height: 40px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    margin-top: 2%;
    margin-left: 4%;
    padding-left: 1%;
    font-size: 2rem;
}

input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    margin-left: 40px;
    font-size: 1.45rem;
}

input[type="submit"] {
    width: 200px;
    height: 60px;
    border-radius: 50%;
    margin-left: calc(50% - 100px);
    color: black;
    font-size: 2rem;
}
